<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326927403832-vv7bodddh67b34ljmfar56uk75nthaoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326927403832-vv7bodddh67b34ljmfar56uk75nthaoe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>326927403832-pg4lgm0qjsavcsntv01vsecsvvecc8in.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTnuoV8PXrpZJvmC4n0dRKgLgiCxn-0pg</string>
	<key>GCM_SENDER_ID</key>
	<string>326927403832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.mindfulmini.com</string>
	<key>PROJECT_ID</key>
	<string>mindful-minis-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mindful-minis-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326927403832:ios:78c0d169f6e555be68cfcd</string>
</dict>
</plist>